* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #84fab0, #8fd3f4);
    height: 100vh;
    padding: 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    margin-bottom: 20px;
    color: #097e09;
    text-align: center;
}

.userDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputBox {
    margin-bottom: 15px;
    width: calc(50% - 10px);
}

.inputBox .details {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputBox input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #097e09;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.inputBox input:focus {
    border-color: #5a5a88;
}

.genderDetails {
    margin: 20px 0;
}

.genderTitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #097e09;
}

.category {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category .dot {
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    border: 5px solid transparent;
    transition: 0.3s;
}

input[type="radio"]:checked ~ .dot {
    background-color: #097e09;
    border-color: #097e09;
}

.gender {
    font-size: 16px;
    color: #333;
}

.button {
    text-align: center;
    margin-top: 30px;
}

.button input {
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #097e09;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button input:hover {
    background-color: #0b0b3f;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }

    .inputBox {
        width: 100%;
    }

    .genderDetails {
        display: block;
    }

    .category {
        justify-content: space-around;
    }
    .customize-button {
        background-color: #4CAF50;
        border: none;
        color: #121246;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none !important;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    .customize-button:hover {
        background-color: #45a049;
    }

}
