body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    color: #333;
     margin: 0;
    padding: 0;
}

.about-header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.about-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 800px;
    text-align: center;
}

.about-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-images img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.back-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.back-button:hover {
    text-decoration: underline;
}
